.combatant-btn{
	margin: 5px;
	padding: 5px;
	width: 200px;
	cursor: pointer;
}

#combatants{
	list-style: none;
}

#combatants-control{
	list-style: none;
}

.combatant-name{
	margin-left: 5px;
	margin-right: 5px;
}

.initiative{
	margin-right: 5px;
}

.combatant-name-field{
	width: 6em;
}